.pagination-container{
    display: flex;
    position: relative;
    flex: 0 0 auto;
    margin: 10px 0 10px;
    top:70px;
    caret-color: transparent;
}

/* Перевизначаємо папаметри bootstrap */

.page-link {
    color: black;
    cursor: pointer;
}

.page-link:hover {
    color: rgb(71, 58, 58);
}

.page-item.active .page-link {
    background-color: black;
    border-color: #6c757d;
}
