@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');

body {
    font-family: 'Oswald', sans-serif;
}

section {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
}

.product {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 10px;
    perspective: 1200px;
}

.product-data,
.card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 1s ease-in-out;
}

.product-data {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
    transform: rotateY(0deg);
}

.product-data:before {
    content: '';
    position: absolute;
    border: 5px solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 12px rgba(0, 0, 0, .3);
    top: 26px;
    left: 26px;
    right: 26px;
    bottom: 26px;
    z-index: 2;
    transition: ease all 2.3s;
    transform-style: preserve-3d;
    transform: translateZ(0px);
}

.product-data:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    transition: ease all 1.3s;
    background: rgba(0, 0, 0, .3);
}

.card-back {
    background-color: #0b0f08;
    color: white;
    padding: 20px;
    text-align: center;
    transform: rotateY(180deg);
    border: none;
}

.card-back div {
    padding: 15px 0;
    font-size: 20px;
    border-bottom: 2px solid white;
}

.product-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    caret-color: transparent;
}

.product-footer,
.product-footer div {
    border-bottom: 0px solid white;
}

.card-back div {
    font-weight: bold;
}

.card-back div span {
    font-weight: lighter;
}

.product:hover .product-data {
    transform: rotateY(-180deg);
}

.product:hover .card-back {
    transform: rotateY(0deg);
}

.product-img {
    width: 100%;
    height: auto;
    margin: 5px auto;
}

.product-category {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    font-size: 1.1rem;
    color: white;
    width: 60%;
    position: absolute;
    top: 0px;
    left: 4px;
    transform: skewX(-20deg);
}

.product-category-text {
    text-align: center;
    transform: skewX(20deg);
}

.product-name {
    font-weight: 600;
    position: absolute;
    bottom: 30px;
    left: 40px;
    color: white;
    z-index: 3;
    font-size: 2.5em;
}

.product-text {
    font-size: 0.9em;
}

.product-price {
    font-weight: 500;
    position: absolute;
    top: 55px;
    right: 50px;
    color: white;
    z-index: 4;
    font-size: 2em;
}



.product-manage-btns {
    display: flex;
    width:100%;
    padding: 10px;
    justify-content: center;
}

.product-btn {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0 10px;
    cursor: pointer;
    margin: 15px;
    transition-duration: 0.3s;
}



.product-cart-btn {
    font-size: 1.5rem;
    padding: 0 20px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.product-btn:hover, .product-cart-btn:hover {
    scale: 1.2;
    color: #F9A921;
}